.pagecomplete
{
	height: 792px;
	font-size: 14px;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hautdepage
{
	display: flex;
	justify-content: flex-end;
	padding: 6px;
	height: 60px;
}
.navbarup
{
	display: flex;
	flex-direction: raw;
	align-content: flex-end;
}

.GI
{
	padding: 4px;
	display: flex;
	justify-content: space-around;
	width: 121.59px;
	height: 24px;
}
.icons
{
	padding: 4px;
	display: flex;
	justify-content: space-around;
	width: 96px;
	height: 48px;
}
.appligoogleimage
{
	width: 32px;
	height: 32px;
}
.comptegoogleimage
{
	width: 32px;
	height: 32px;
}

.googlebody
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hightgb
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logogoogle
{
	width: 272px;
	height: 92px;
}
.midllegb
{ 		
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.barrederecherche
{
	border: 1px solid black;
	border-radius: 12px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loupe
{
	width: 18px;
	height: 18px;
}
.rechercher
{
	width: 487px;
	height: 34px;
}
.microphone
{
	width: 20px;
	height: 20px;
}
.boutonsrecherche
{
	display: flex;
	justify-content: center;
}
.googlesearch
{
	border: 1px;
	margin: 4px;
	padding: 16px;
}
.lucky
{
	border: 1px;
	margin: 4px;
	padding: 16px;
}
.butlucky
{
	border: 0;

}
.france
{
	padding: 15px 30px 15px 30px;
}
.pieddepage
{
	background: #f2f2f2;
}
.navbardown
{
	padding: 0 20px 0 20px;
	display: flex;
	flex-direction: row;
}
.nbdleft
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.apropos
{
	padding: 15px;
}
.publicite
{
	padding: 15px;
}
.entreprise
{
	padding: 15px;
}
.cflrg
{
	padding: 15px;
}
.nbdmiddle
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.necd2007
{
	padding: 15px;
}
.nbdright
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.infoconso
{
	padding: 15px;
}
.confidentialite
{
	padding: 15px;
}
.conditions
{
	padding: 15px;
}
.parametres
{
	padding: 15px;

}